[submodule "bundle/vim-fuzzyfinder"]
	path = bundle/vim-fuzzyfinder
	url = https://github.com/clones/vim-fuzzyfinder.git
[submodule "bundle/vim-l9"]
	path = bundle/vim-l9
	url = https://github.com/clones/vim-l9.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
